*{
  background-color: #FFCCFF;
  margin: 0;
  box-sizing: border-box;
}

.taskList {
  font-size: 30px;
  padding-left: 100px;
  padding-top: 40px;
}

.task {
  font-size: 22px;
  padding-left: 25px;
}

.line{
  margin-top: 40px;
}